.about-main{
    /* padding: 0 5rem; */
    margin: 0;
    padding:0;
    width: 100vw;
    height: 90vh;
    background-color: rgb(15, 15, 15);
    z-index: 100;
    box-shadow: 0 -5px 55px rgba(0,0,0,1) inset;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    /* padding: 0 20rem; */
    border: 1px solid red;
}


.about-image{
    width: 40%;
    height: 100%;;
    display:flex;
    align-items: center;
    justify-content: center;
    position: relative;
    /* border: 1px solid red; */

}

.about-image img{
    height: 27rem;
    width: 20rem;
    box-shadow: 15px 15px rgba(94, 94, 94, 0.7);
    /* margin-right: 4rem; */
    
}



.about-text{
    box-sizing: border-box;
    width: 60%;
    height: 100%;
    padding: 0 1rem;
    color: rgb(255, 255, 255, .9);
    text-align: justify;
    /* border: 1px solid yellow; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.about-image p{
    position: absolute;
    left:-23%;
    bottom:35%;
    z-index: 100;
    transform:rotate(-90deg);
    color:rgba(71, 218, 255, 0.8);
    font-size: 2.5rem;
    opacity: .9;
}

.about-text h1{
    /* margin-bottom: 1.5rem; */
    font-size: 3rem;;
}

.about-text p{
    font-size: 1rem;
    margin: 1.5rem 0;
}

.about-text .bottom-text{
   
    font-size: 2rem;
}


/* ******************************************************** Media Queries *************************************** */


@media only screen and (max-width: 1800px){
    .about-main{
       padding: 0 1rem;
       display: flex;
       justify-content: center;
       align-items: center;
    }

    .about-text{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60%;
        height: 100%;
        padding: 0 1rem;
    }

    .about-text h1{
        font-size: 2.2rem;
    }
   .about-text p{
        font-size: .9rem;
    }
    .about-image{
        /* border: 1px solid red; */
        height: 100%;
        display:flex;
         justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 1200px){
  

    .about-text{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60%;
        height: 100%;
        padding: 0 1rem;
    }

    .about-text h1{
        font-size: 2.2rem;
    }

    .about-text p{
        font-size: .8rem;
    }

}


/* *********************************** 1000px *********************************************** */

@media only screen and (max-width: 1000px){


    .about-image img{
        height: 20rem;
        width: 17rem;
        box-shadow: 12px 12px rgba(94, 94, 94, 0.7);
        /* margin-right: 4rem; */
        
    }
    
    .about-text h1{
        text-align: left;
        font-size: 1.7rem;
    }

    .about-text{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60%;
        height: 100%;
        padding: 0 1rem;
    }

    .about-text p{
        font-size: .7rem;
    }

    .about-main{
                display: flex;
        justify-content: center;
        align-items: center;
     }
 
}

/* ************************************** 768px ****************************************************** */

@media only screen and (max-width: 768px){

    .about-main{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
    }
    .about-text{
        height: 50%;
        width: 100%;
        padding: 6rem 2rem; 
        /* border: 1px solid red; */
       
    }

    .about-text p{
           font-size: .8rem;
    }


    .about-text h1{
        font-size: 1.7rem;
    }
    .about-image{
        height: 40%;
        display: flex;      
    }

    .about-image img{
        width: 14rem;
        height: 17rem;
        margin-top: 4rem;
    }
   
}

@media only screen and (max-width: 450px){
    .about-main{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
    }


    .about-text{
        border: 1px solid red;
        padding: .7rem;
    }
    .about-text p{
        font-size: .65rem;
 }


 .about-text h1{
     font-size: 1.2rem;
     margin: -.5rem;
 }

.about-image img{
    width: 12rem;
    height: 14rem;
    margin-top: 4rem;
    box-shadow: 5px 5px rgba(94, 94, 94, 0.7);

}
}



@media only screen and (max-width: 300px){

    .about-main{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
    }

}