.home-page-main{
    height: 90vh;
    width: 100vw;
    margin:0;
    padding:0;
    background-image:url('../../assets/bgbooks.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    align-self: flex-end;
    z-index: 10;
    /* top: 10vh; */
}

.home-page-main::after{
    content: '';
    height: 90vh;
    width:100vw;
    position: absolute;
    top:0;
    left:0;
    background: rgba(39, 39, 39, 0.2);
    z-index: -100;
}

.home-main-block{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgba(128, 255, 0,.4); */
    /* border: 1px solid red; */
}    


.home-image-container{
    /* border: 1px solid white; */
    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: none;
    justify-self: flex-start;
    animation: demo 1.5s ease-in-out;

}

.home-image-container img{
    filter: drop-shadow(5px 5px 25px  rgba(73, 73, 73, 0.5)) contrast(130%);
    height: 70%;
    border-radius:10px;
    /* opacity: .9; */
}
.home-main-text{
    /* border: 1px solid green; */
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    animation: demo1 1.5s ease-in-out;
}

.home-line{
    width: 25%;
    height: 2px;
    background-color: gray;
    margin: 1em 0;
}

.home-main-text h1{
    color: rgb(255, 255, 255,.9);
    font-size: 3rem;
    letter-spacing: 2px;
}

.home-main-text h3{
    color: rgb(255, 255, 255,.9);
}

.home-main-text h4{
    color: rgb(255, 255, 255,.9);
    margin: 1rem 0 2rem 0;
    font-size: 1.2rem;
    letter-spacing: 2px;
}

.home-main-text .home-button{
        /* padding: 4rem; */
        width: 60%;
        /* border: 1px solid white; */
        display:flex;
        display: flex;
        justify-content: center;
        align-items:center;
        height: 4rem;
        margin-top: 1rem;
        /* border: 1px solid white; */
}

.home-main-button{
    width: 85%;
    height: 100%;
    /* padding: 1.2em 0; */
    font-weight: bolder;
    font-size: 1.2rem;
    background-color: rgb(255, 255, 255,.9);
    outline: 0;
    border: 1px solid rgb(201, 199, 199);
    background: transparent;
    color: rgba(255, 255, 255,.9);
    transition: all ease-in-out .5s;
    border-radius: 4px;
    
    }

.home-main-button:hover{
    background: rgba(255, 255, 255,.9);
    color: black;
    
}

.home-main-button:active{
    background-color: rgba(0, 0, 0,.7);
    color:rgba(255, 255, 255,.9);
    transition: 0s;
}

.home-side-button{
    width :15%;
    height: 100%;
    background-color: rgba(255, 255, 255,.9);
    border-radius: 0 4px 4px 0;
    margin-left:2px;
    font-weight: bolder;
    font-size: 1.3rem;
    border: 1ps solid white;
    transition: all ease-in-out .5s;
}

.home-side-button:hover{
    background: transparent;
    border: 1px solid rgba(255, 255, 255,.9);
    color: white;
}

.home-side-button:active{
 background-color: rgba(0, 0, 0,.7);
    color:rgba(255, 255, 255,.9);
    border: none;
    outline: none;
    color: rgba(255, 255, 255,.9);
    transition: 0s;
}

@keyframes demo{
    from {
        transform: translateX(-200%)
    }
    to{
        transform: translateX(0);
    }
}

@keyframes demo1{
    from{
        transform: translateX(200%);
    }
    to{
        transform: translateX(0);
    }
    
}


    


/* ##########################################   Media Queries  #################################### */

@media only screen and (max-width:1240px) {

    .home-image-container{
        width: 35%;
        height: 80%;
        margin-right: 2rem;
        /* border: 1px solid red; */
    }

    .home-image-container img{
        height: 50%;
    }
    .home-main-button{
        font-size: .8rem;
        border-radius: 0;
    }

    .home-side-button{
        font-size: .8rem;
        border-radius: 0;
    }

    .home-button{
        height: 1rem;
        /* border: 1px solid red; */
        padding: .7rem 0;
    }

    .home-main-text h1{
        font-size: 2.5rem;
    }

    .home-main-text h4{
        font-size: .9rem;
    }

}

/* ********************************************** 768px ********************************************* */

@media only screen and (max-width:768px){
    .home-main-block{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

  .home-image-container{
      width:80%;
      height: 40%;
  }  

  .home-image-container img{
      height: 100%;
  }
    .home-page-main{
        width: 100vw;
        height: 100vh;
    }

    .home-main-text{
        /* border: 1px solid white; */
        width: 80%;
        height: 30%;
    }

    .home-main-text h1{
        font-size: 2.5rem;
    }
    .home-main-text h4{
        font-size: 1.rem;
        margin-top: -.3rem;
    }

    .home-main-text .home-button{
        width: 50%;
        height: 4rem;
        display:flex;
        justify-content: center;
        align-items:center;
        /* border: 1px solid red */
        margin-top: -1.2rem;
    }

    .home-main-button{
        /* padding: .6rem; */
        font-size: 1rem;
    }

    .home-side-button{
        font-size: .7rem;
        border-radius: 0 3px 3px 0;
    }


    .home-main-text h3{
        font-size: .8rem;
    }

    /* .home-main-text h4{
        font-size: .8rem;
    } */

}

/* ############################################ 560 ############################## */

@media only screen and (max-width:560px){


    .home-page-main{
        width: 100vw;
        height: 100vh;
    }
    .home-main-text .home-button{
        width: 30%;
        height: 3rem;
        display:flex;
        justify-content: center;
        align-items:center;
        /* border: 1px solid red */
    }

    .home-main-button{
        /* padding: .6rem; */
        font-size: .4rem;
    }

    .home-side-button{
        font-size: .7rem;
        border-radius: 0;
    }

    .home-main-text h1{
        font-size: 1.5rem;
    }

    .home-main-text h3{
        font-size: .6rem;
    }

    .home-main-text h4{
        font-size: .6rem;
    }

}


@media only screen and (max-width:420px){


    .home-page-main{
        width: 100vw;
        height: 100vh;
    }
    .home-main-text .home-button{
        width: 30%;
        height: 2.3rem;
        display:flex;
        justify-content: center;
        align-items:center;
        /* border: 1px solid red */
    }

    .home-main-button{
        padding: .6rem;
        font-size: .7rem;
        font-size: .5rem;
    }

    .home-side-button{
        font-size: .7rem;
        border-radius: 0 3px 3px 0;
          font-size: .3rem;
    }

    .home-main-text h1{
        font-size: 2rem;
        margin-bottom:-.2rem;
    }

    .home-main-text h3{
        font-size: .8rem;
        margin-bottom: -2.5rem;
    }

    .home-main-text h4{
        font-size: .7rem;
        word-wrap: break-word;
        margin: 2rem;
    }

}

